<!DOCTYPE html>
<html>
<head>
	<title>Task</title>
	<link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">	
</head>
<body>
	<div class="navbar">
		<div class="navbar-header">
			<a href="/register_login/index" class="navbar-header-link">Task</a>
		</div>
		<div class="nav-links">
				<i class="fa fa-refresh" style="font-size: 20px;" aria-hidden="true"></i>
				<a class="nav-links-href" href="/products/view_all"> Refresh</a>
		</div>
	</div><br>
	
	<div class="notify-green">
		Click on Refresh link above to see the ratings change
	</div>
	<div class="tag-result">
		<center><h1>All the products List</h1></center>
			<% @products.each do |product| %>
			<div class="each-product">
			<center>
				<b>Procut Name: </b><h2><%= product.product_name %></h2>
				<img src="<%= product.image %>" class="product-image"><br>
				<b>Tag : #<%= product.tag_name %></b><br>
				<b>Price : &#x20B9;<%= product.price %></b>
				<h3><b>Rating : </b><%= product.rating %></h3>
				<%= link_to "View Info", product_path(product.id), :class => "custom-view-link" %>
				</center>
			</div>
			<% end %>
	</div><br>


</body>
</html>